@font-face {
    font-family: 'Braille';
    src:url('Braille.ttf.woff') format('woff'),
        url('Braille.ttf.svg#Braille') format('svg'),
        url('Braille.ttf.eot'),
        url('Braille.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}